.tjs-positioned-links {
    position: relative;

    &.md {
        img {
            transform-origin: top right;
            transform: scale(var(--layout-scale, 1));
        }
    }
    &:not(.md) {
        --layout-scale: 1 !important;
    }

    a {
        $transition: all 150ms ease;
        $border-right-radius: 1rem;

        position: absolute;
        display: inline-flex;
        align-items: center;
        border-top-right-radius: $border-right-radius;
        border-bottom-right-radius: $border-right-radius;
        padding-left: .5rem;
        background-color: #ffffffd6;
        font-weight: 300;
        color: var(--alvi-font-main) !important;
        transition: $transition;

        top: calc(var(--top) * var(--layout-scale, 1));
        left: calc(var(--left) * var(--layout-scale, 1));
        right: calc(var(--right) * var(--layout-scale, 1));
        bottom: calc(var(--bottom) * var(--layout-scale, 1));

        &:after {
            $size: 1.8rem;

            content: '+';
            display: flex;
            height: $size;
            width: $size;
            margin-left: .6rem;
            background-color: var(--alvi-primary);
            color: var(--alvi-white);
            justify-content: center;
            border-radius: 100%;
            font-size: 1.7rem;
            line-height: 1.3rem;
            border: 2px solid var(--alvi-primary);
            transition: $transition;
        }

        &:hover {
            background-color: var(--alvi-primary);
            color: var(--alvi-white) !important;
            text-decoration: none !important;

            &:after {
                border-color: var(--alvi-white);
            }
        }
    }
}
