.tjs-footer {
    padding-top: 4rem;
    padding-bottom: 4rem;

    font-weight: var(--alvi-font-weight-light);
    font-size: var(--alvi-font-size-footer);

    img {
        max-width: 10rem;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    &__col {
        &-md,
        &-lg {
            margin-bottom: 0;
            padding: 0 2rem;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            &:not(:last-child) {
                border-right: 1px solid var(--alvi-divider);
            }
        }

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}
