.tjs__sec-card-2col {
    padding: var(--t-section-padding);
    background: var(--layout-bg);

    .aside {
        --joda-class: p-4 p-lg-5;
    }

    &.reverse,
    &.mobile.reverse-mobile,
    &.desktop.reverse-desktop {
        .row > div:nth-child(1) {
            order: 2;
        }
    }

    .image-side {
        &:has(img) {
            display: flex;
            align-items: center;
        }
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: var(--border-radius);
        }

        p.slideshow {
            display: block;
            padding: 0 !important;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            aspect-ratio: var(--layout-aspect-ratio,  16 / 9);
            width: 100%;
            height: auto;
        }
    }
}

