.tjs__sec-card-2col {
    padding: var(--t-section-padding);
    background: var(--layout-bg);

    .aside {
        --joda-class: p-4 p-lg-5;
    }

    &.mobile.text-first {
        .row > &--col-start {
            order: 1;
        }
    }

    .row > &--col-start {
        order: 99;
    }

    .row > &--col-end {
        order: 50;
    }

    &.desktop {
        &:nth-of-type(odd) {
            .row {
                flex-direction: row-reverse;
            }
        }
    }
}

