.tjs__sec-card-2col {
    padding: var(--t-section-padding);
    background: var(--layout-bg);

    .aside {
        --joda-class: p-4 p-lg-5;
    }

    &.mobile,
    &.reverse {
        .row > &--col-start {
            order: 1;
        }
    }

    &:not(.reverse) {
        .row > .tjs__sec-card-2col--col-start {
            order: 99;
        }
    }

    &.image-align-center {
        .image-side {
            display: flex;
            align-items: center;
        }
    }


    &.desktop {
        &:nth-of-type(odd) {
            .row {
                flex-direction: row-reverse;
            }
        }
    }
}

