.tjs-accordion {
    details {
        summary {
            list-style: none;
            text-transform: uppercase;
            font-weight: 600;
            padding: 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::after {
                content: '';
                display: flex;
                height: 24px;
                width: 24px;
                margin-left: 10px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M12,15.5a1.993,1.993,0,0,1-1.414-.585L5.293,9.621,6.707,8.207,12,13.5l5.293-5.293,1.414,1.414-5.293,5.293A1.993,1.993,0,0,1,12,15.5Z'/%3E%3C/svg%3E");
                transition: all 150ms ease;
            }
        }

        &[open] {
            summary {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        & > summary,
        & > div {
            padding: 1rem;
            background: var(--alvi-background-grey);
        }

        & > div {
            padding-top: 0;

            img {
                width: 100%;
            }
        }
    }
}
