.tjs-cards {
    padding: 4rem 0;
    background-color: var(--alvi-background-grey);
}

.tjs-card {
    &:first-child {
        .tjs-card__content {
            border-bottom-color: var(--alvi-primary);
        }
    }

    &__content {
        $card-margin: .5rem;

        margin: $card-margin;
        height: calc(100% - $card-margin * 2);
        border-bottom: 5px solid var(--alvi-background-grey-dark);
        background-color: var(--alvi-white);

        img {
            // Revert explicit height set bei micx-cdn
            height: unset;
            width: 100%;
            aspect-ratio: var(--layout-aspect-ratio, 2);
            object-fit: var(--layout-object-fit, cover);
            object-position: var(--layout-object-position, center);
        }

        &__text {
            padding: 1rem;

            h3 {
                text-transform: none;
                font-weight: 600;
                font-size: 1.4rem !important;
            }
        }
    }
}
