.tjs-cards {
    padding: 4rem 0;



    --background: var(--alvi-white);
    --border: 1px solid var(--alvi-background-grey-dark);



    &.dark {
        --background: var(--alvi-background-grey);
        --border: 0;
    }
    background-color: var(--background);
}

.tjs-card {


    --background: var(--alvi-white);
    margin-bottom: 15px;
    &:first-child {
        .tjs-card__content {
            border-bottom-color: var(--alvi-primary);
        }
    }

    transition: all .3s ease-in-out;

    &:hover {
        .tjs-card__content {
            border-color: var(--alvi-primary);

        }
    }


    &__content {
        height: 100%;
        margin: .5rem;

        border: var(--border);
        border-bottom: 5px solid var(--alvi-background-grey-dark);
        background-color: var(--alvi-white);

        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }

        &__text {
            padding: 1rem;

            h3 {
                text-transform: none;
                font-weight: 600;
                font-size: 1.4rem !important;
            }
        }
    }
}
