.tjs-form {
    form {
        padding: 1rem;
        box-shadow: 0 1px 2px #00000029;

        & > div {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        input:not([type="radio"]) {
            width: 100%;
            padding: .75rem;
            border: 1px solid var(--alvi-font-main);
        }

        .form-group-radio {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 0;

            & div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: .5rem;

                & input {
                    position: relative;
                    appearance: none;

                    --circle-offset-x: -8px;
                    --circle-offset-y: -16px;
                    --circle-size: 18px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: var(--circle-offset-x);
                        left: var(--circle-offset-y);
                        display: block;
                        height: var(--circle-size);
                        width: var(--circle-size);
                        border-radius: 50%;
                        background-color: #fff;
                        border: 1px solid var(--alvi-font-main);
                    }

                    &[checked] {
                        &::after {
                            --circle-inner-offset: 2px;

                            content: '';
                            position: absolute;
                            top: calc(var(--circle-offset-x) + var(--circle-inner-offset));
                            left: calc(var(--circle-offset-y) + var(--circle-inner-offset));
                            display: block;
                            height: calc(var(--circle-size) - var(--circle-inner-offset) * 2);
                            width: calc(var(--circle-size) - var(--circle-inner-offset) * 2);
                            border-radius: 50%;
                            background-color: var(--alvi-primary);
                            border: .5px solid #fff;
                        }
                    }
                }

                & label {
                    white-space: nowrap;
                }
            }
        }
    }

}
