@import '../../components/mixins/button.scss';

.tjs-form {
    --margin-y: 1rem;

    &.md {
        .form-group-radio {
            flex-direction: row;
            gap: 0;

            & > div {
                flex-grow: 1;
                justify-content: space-evenly;
                gap: 0;
            }
        }
    }



    form {
        padding: var(--alvi-card-2-padding-md);
        background-color: var(--alvi-white);
        color: var(--alvi-grey);
        box-shadow: 0 1px 2px #00000029;

        & > div {
            &:not(:last-child, .form-group-radio, .form-group-checkbox) {
                margin-bottom: var(--margin-y);
            }
        }

    }

}
