.tjs-postfooter {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--alvi-background-grey);

    font-weight: var(--alvi-font-weight-light);
    font-size: var(--alvi-font-size-footer);

    p {
        margin: 0;
    }
}
