.tjs-header {
    img {
        min-height: 300px;
        max-height: 640px;
        width: 100vw;
        object-fit: cover;
    }
    .container {
        position: relative;

        .tjs-header__content {
            position: absolute;
            bottom: 2rem;
        }
    }
}
