.alvi-btn {
    background-color: var(--alvi-primary);
    color: var(--alvi-white) !important;
    font-weight: 300;
    padding: .3rem .5rem;
    text-decoration: none;

    &.large {
        padding: .5rem .8rem;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.outline {
        background-color: transparent;
        border: 1px solid var(--alvi-primary);

        &.white {
            border-color: var(--alvi-white);
            color: var(--alvi-white) !important;
        }
    }

    .white {
        background-color: var(--alvi-white);
        color: var(--alvi-primary) !important;
    }
}
