.alvi-btn {
    background-color: var(--alvi-primary);
    color: var(--alvi-white);
    font-weight: 300;
    padding: .3rem .5rem;
    text-decoration: none;

    &.large {
        padding: .5rem .8rem;
    }
}
