@use "sass:math";

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 1px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration math.div($duration, 3);
    position: relative;

    &::before,
    &::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0; height: 0;

        #{$vertical}: 0;
        #{$horizontal}: 0;
    }

    &::before {
        $h-side: if($horizontal == 'left', 'right', 'left');

        border-#{$vertical}-width: $width;
        border-#{$h-side}-width: $width;
    }

    &::after {
        $v-side: if($vertical == 'top', 'bottom', 'top');

        border-#{$v-side}-width: $width;
        border-#{$horizontal}-width: $width;
    }

    &:hover {
        color: $hover !important;

        &::before,
        &::after {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            width: 100%;
            height: 100%;
        }

        &::before { transition-delay: 0s, 0s, $duration; }
        &::after { transition-delay: 0s, $duration, 0s; }
    }
}

.draw-border {
    @include btn-border-drawing(var(--alvi-primary), var(--alvi-grey), .5px, bottom, left);
}

.alvi-btn {
    background-color: var(--alvi-primary);
    color: var(--alvi-white);
    font-weight: 300;
    padding: .3rem .5rem;
    text-decoration: none;
    transition: all 150ms ease-in-out;

    &:hover {
        text-decoration: none !important;
        color: var(--alvi-primary);
        background-color: var(--alvi-white);
    }

    &.large {
        padding: .5rem .8rem;
        border-width: 2px;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.outline {
        background-color: transparent;
        color: var(--alvi-primary);

        &.draw-border {
            @include btn-border-drawing(var(--alvi-white), var(--alvi-dark-grey), .5px, bottom, left);
        }
    }
}
