.alvi-btn {
    background-color: var(--alvi-primary);
    color: var(--alvi-white) !important;
    border: 1px solid var(--alvi-primary);
    font-weight: 300;
    padding: .3rem .5rem;
    text-decoration: none;
    transition: all 150ms ease-in-out;

    &:hover {
        text-decoration: none !important;
        color: var(--alvi-primary) !important;
        background-color: var(--alvi-white);
    }

    &.large {
        padding: .5rem .8rem;
        border-width: 2px;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.outline {
        background-color: transparent;
        color: var(--alvi-primary) !important;

        &:hover {
            background-color: var(--alvi-primary);
            color: var(--alvi-white) !important;
        }

        &.white {
            border-color: var(--alvi-white);
            color: var(--alvi-white) !important;

            &:hover {
                background-color: var(--alvi-white);
                color: var(--alvi-primary) !important;
            }
        }

        &.grey {
            border-color: var(--alvi-font-main);
            color: var(--alvi-font-main) !important;

            &:hover {
                background-color: var(--alvi-font-main);
                color: var(--alvi-white) !important;
            }
        }
    }

    .white {
        background-color: var(--alvi-white);
        color: var(--alvi-primary) !important;

        &:hover {
            background-color: var(--alvi-primary);
            color: var(--alvi-white) !important;
        }
    }
}
