$border: 1px solid var(--alvi-divider);
$padding: 1rem;

.tjs-ribbon {
    border-top: $border;
    overflow: hidden;

    h3 {
        margin-bottom: .3rem;
    }

    &.border-bottom {
        border-bottom: $border;
    }

    &__col {
        position: relative;
        padding-top: $padding;
        padding-bottom: $padding;

        &-border-x {
            &:not(:last-child) {
                border-right: $border;
            }
        }
        &-content-padding-x {
            .content {
                padding-left: $padding;
                padding-right: $padding;
            }
        }

        .divider-bottom {
            position: absolute;
            width: 200vw;
            height: 0;
            left: -50vw;
            bottom: 0;
            border-bottom: $border;
        }
    }
}
