.tjs-navbar {
    background: var(--alvi-background-grey);
    position: sticky;
    top: 0;
    z-index: 1;
    transition: box-shadow 300ms ease;

    &[scrolled] {
        box-shadow: rgba(0, 0, 0, 0.05) 0 2px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    }

    &.lg {
        .navbar-main {
            display: flex;
        }
        .toggle {
            display: none;
        }
    }
    &.xl {
        .navbar-main {
            display: flex;
        }
        .toggle {
            display: none;
        }
    }

    .brand {
        img {
            height: 60px;
            padding: 8px 0;
        }
    }

    .toggle {
        background: transparent;
        display: inline-flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        svg {
            height: 36px;
            fill: var(--alvi-font-main);
        }
    }

    .navbar-main {
        display: none;

        ul {
            height: 100%;
            display: flex;
            padding: 0;

            li {
                display: flex;
                align-items: center;

                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 2rem;
                    color: inherit;
                    font-weight: var(--alvi-font-weight-light);
                }

                &:not(:last-child) {
                    border-right: 2px solid var(--alvi-white);
                }

                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
