.tjs-tabs {
    &__tabs {
        overflow: auto;

        a[data-tab-id] {
            padding: .6rem 1.1rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-transform: uppercase;
            transition: all 150ms ease;
            border: 1px solid var(--alvi-background-grey);
            border-bottom-width: 0;
            font-weight: 100;
            white-space: nowrap;

            &[data-active],
            &:hover {
                background-color: var(--alvi-background-grey);
                color: var(--alvi-font-main) !important;
            }

            &[data-active] {
                font-weight: 400;
            }

            &:hover {
                text-decoration: none !important;
            }
        }
    }

    .children {
        section {
            &:not([data-active]) {
                display: none;
            }

            padding: 5rem 0;
        }
    }

    &.medium {
        a[data-tab-id] {
            padding: 1rem 2.5rem;
        }
    }
}
