$weights: (
    300: 'Light',
    400: 'Regular',
    600: 'SemiBold',
    700: 'Bold',
);

@each $weight, $name in $weights {
    @font-face {
        font-family: "Open Sans";
        src: url("https://cdn.leuffen.de/global/fonts/opensans/OpenSans-#{$name}.woff2") format("woff");
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}
