
$primary: #0db2b3 !default;
$soft-primary: #E6F7F5 !default;

$secondary: #FF5C00 !default;
$soft-secondary: #FFF0E6 !default;

$black: #000 !default;
$white: #fff !default;
$grey: #A0A0A0 !default;
$font-main-color: #363636 !default;
$element-border-color: #EDEDED !default;
$col-background: #263238 !default;
$slider-button-color: #454545 !default;

$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$font-size-p: 1rem !default;

:root {
    --alvi-primary: #{$primary};
    --alvi-white: #{$white};
    --alvi-font-main: #{$font-main-color};
}
