
$primary: #0db2b3 !default;
$soft-primary: #E6F7F5 !default;

$secondary: #FF5C00 !default;
$soft-secondary: #FFF0E6 !default;

$background-grey: #f6f6f6 !default;
$background-grey-dark: #e7e8eb !default;

$black: #000 !default;
$white: #fff !default;
$grey: #727171 !default;
$dark-grey: #291e1e !default;
$font-main-color: #5b5b5b !default;
$element-border-color: #EDEDED !default;
$col-background: #263238 !default;
$slider-button-color: #454545 !default;
$divider: #e7e8ec !default;

$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
$font-size-p: 1rem !default;
$font-size-footer: .9rem !default;

$font-weight-footer: 300 !default;

:root {
    --alvi-primary: #{$primary};
    --alvi-grey: #{$grey};
    --alvi-dark-grey: #{$dark-grey};
    --alvi-white: #{$white};
    --alvi-font-main: #{$font-main-color};
    --alvi-divider: #{$divider};
    --alvi-background-grey: #{$background-grey};
    --alvi-background-grey-dark: #{$background-grey-dark};
    --alvi-font-size-footer: #{$font-size-footer};
    --alvi-font-weight-footer: #{$font-weight-footer};
}
